@if(config) {
<div (click)="close.emit()"
  class="fixed top-0 left-0 right-0 w-screen h-screen bg-black/20 backdrop-blur-sm z-30 flex items-center justify-center">
</div>
<div
  class="absolute h-screen top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 w-screen md:w-180 max-h-[95vh] mx-auto p-2 z-40">
  <div class="rounded-2xl border border-slate-200 bg-white p-6 shadow-sm   max-h-[95vh]">
    @if(config.title || config.description) {
    <div class="mb-6">
      @if (config.title) {
      <h2 class="text-xl font-semibold text-slate-900">{{ config.title }}</h2>
      }
      @if (config.description) {
      <p class="mt-1 text-sm text-slate-600">{{ config.description }}</p>
      }
    </div>
    }

    @if (form) {
    <form (ngSubmit)="onSubmit()" class="relative space-y-5 pb-3 h-[calc(100vh-200px)] overflow-y-auto px-2">
      @for(field of config.fields; track field.key) {
      <app-dynamic-field [field]="field" [form]="form"></app-dynamic-field>
      }

      <div class="mt-6 flex flex-col gap-2 sm:flex-row sm:justify-end">
        <button type="button"
          class="rounded-xl border border-slate-200 px-4 py-2 text-sm text-slate-700 hover:bg-slate-50"
          (click)="onReset()">
          {{ config.buttons?.resetText || 'Reset' }}
        </button>

        <button type="button"
          class="rounded-xl border border-slate-200 px-4 py-2 text-sm text-slate-700 hover:bg-slate-50"
          (click)="onCancel()">
          {{ config.buttons?.cancelText || 'Cancel' }}
        </button>

        <button type="button" (click)="onSubmit()"
          class="rounded-xl bg-sky-600 px-4 py-2 text-sm font-medium text-white hover:bg-sky-700">
          {{ config.buttons?.submitText || 'Submit' }}
        </button>
      </div>
    </form>
    }
  </div>
</div>

}